<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
   <!-- 此处定义syslog的相关Bean -->
   
   
   
   <!-- syslog中jms相关配置 -->

	<bean id="syslogQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="syslog.queue"></constructor-arg>
	</bean>
	
	<bean id="syslog_queueContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
	     <property name="connectionFactory" ref="cachingconnectionFactory"></property>
	     <property name="destination" ref="syslogQueue"></property>
	     <property name="messageListener" ref="syslogMessageListener"></property>
	     <property name="concurrentConsumers" value="2"></property>
	</bean>
	
	<bean id="syslogMessageListener" class="org.infosec.ismp.manager.syslog.RawSyslogReceiver"></bean>
   
    
</beans>
