<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
   <!-- 此处定义sitecheck的相关Bean -->    
    <bean id="siteCheckControllerClient" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1099/siteCheckController"></property>
        <property name="serviceInterface" value="org.infosec.ismp.manager.rmi.wsm.service.SiteCheckRmiInterface"></property>
        <property name="lookupStubOnStartup" value="false"></property>
        <property name="refreshStubOnConnectFailure" value="true"></property>
    </bean>
</beans>
