<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<description>导入agent中的applicationContext文件列表</description>

	<import resource="register/applicationContext-register.xml" />
	
	<import resource="eventd/applicationContext-eventd.xml" />
   
	<import resource="syslogd/applicationContext-syslogd.xml" />

	
    <import resource="trapd/applicationContext-snmpTrap.xml" />

	<import resource="jms/applicationContext-jms.xml" />


    <import resource="pingd/applicationContext-pingd.xml" />
	

	<import resource="sitecheck/applicationContext-siteCheck.xml" />
	
	<import resource="servicecheck/applicationContext-serviceCheck.xml" />
	

    <import resource="dbcollectd/applicationContext-collectd.xml" />
    <import resource="snmp/applicationContext-snmp.xml" />

</beans>